/* body{
    /* background-color: #011627; */
    
    /* color: #FDFFFC;
}  */

h2{
 color:white;
}

.listed1{
    color: white;
    font-style: italic;
}

.listed2{
    color: white;
    font-style: italic;
}
.listed3{
    color: white;
    font-style: italic;
}
#imgset{
    border-radius: 50%;
    height: 200px;
    align-self: center;
}
#imgset2{
    border-radius: 10%;
    width: 35%;
}
p{
    color: white;
}

#idsource{
    font-style: italic;
    color: black;
}
ul{
    color: white;
}
#materialContactFormName, #lengthvalue, #breadthvalue{
width: 30%;
}

.tg  {
    border-collapse:collapse;
    border-spacing:0;
}
.tg td{font-family:Arial,  sans-serif;
    color:white;
    font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif; color:white;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-cly1{text-align:left;vertical-align:middle}

